<h1>Version {{version?.name}}</h1>

<hr/>

<version-upload 
    [header]="versionUploadHeader" 
    (onCompleted)="uploadFile($event)">
</version-upload>

<hr/>

<trip-group-list
    [version]="version">
</trip-group-list>

<div *ngIf="version?.tripGroups?.length != 0" class="form-group">
    <input type="button" value="Convert version" class="btn btn-default" (click)="convertToFile()" />
</div>

<hr/>

<div *ngIf="pathToDownload != null" class="form-group">
    <h3>Download trip group</h3>
    <div class="form-group">
        <b>
            <a [href]="downloadUrl+pathToDownload" target="_blank">
                Converted version
            </a>
        </b>
    </div>
</div>
