<h1>Features list</h1>
<table class="table table-striped">
    <tbody >           
        <tr>
            <h2><a routerLink="/path" class="nav-link">Path generation</a></h2>
        </tr>
        <tr>
            <h2><a routerLink="/trip" class="nav-link">Trip generation</a></h2>
        </tr>
        <tr>
            <h2><a routerLink="/trip-group" class="nav-link">Trip-group generation</a></h2>
        </tr>
        <tr>
            <h2><a routerLink="/version" class="nav-link">Version generation</a></h2>
        </tr>
        <tr>
            <h2><a routerLink="/resolve-circle" class="nav-link">Circle conflict resolve demonstration</a></h2>
        </tr>
        <tr>
            <h2><a routerLink="/resolve-ongoing" class="nav-link">Ongoing traffic conflict resolve demonstration</a></h2>
        </tr>
        <tr> 
            <h2><a routerLink="/file" class="nav-link">Database demonstration</a></h2>
        </tr>
    </tbody>
</table>
