    <h1>Navigation</h1>
    <table class="table table-striped">
        <tbody >
            <tr> 
                <h2><a routerLink="/file" class="nav-link">file</a></h2>
            </tr>
            <tr>
                <h2><a routerLink="/path" class="nav-link">path</a></h2>
            </tr>
            <tr>
                <h2><a routerLink="/trip" class="nav-link">trip</a></h2>
            </tr>
            <tr>
                <h2><a routerLink="/trip-group" class="nav-link">trip group</a></h2>
            </tr>
            <tr>
                <h2><a routerLink="/version" class="nav-link">version</a></h2>
            </tr>
        </tbody>
    </table>
