<h1>Timetable</h1>

<hr/>

<tt-upload 
    [header]="header" 
    (onCompleted)="uploadFile($event)">
</tt-upload>

<hr/>

<div *ngIf="list && list.items" >    
    <div *ngFor="let p of list?.items; let i=index;">

        <h3>Vertex {{p.key}}</h3>      
        <div class="form-group">
            <table class="table table-striped">               
                <thead>         
                    <tr>  
                        <td>Arrival time</td>
                        <td>From vertex</td>
                        <td>To vertex</td>
                        <td>Name</td>
                    </tr>          
                </thead>                

                <tbody>
                    <tr *ngFor="let item of p?.value; let i = index">
                        <td>{{math.trunc(item?.beginTime / 60)}} :
                            {{('0' + (item?.beginTime % 60)).slice(-2)}} ..
                            {{math.trunc(item?.endTime / 60)}} :
                            {{('0' + (item?.endTime % 60)).slice(-2)}}</td>
                        <td>{{item?.tripBeginVertexId}}</td>
                        <td>{{item?.tripEndVertexId}}</td>
                        <td>{{item?.tripGroupName}} {{item?.tripName}}</td>
                    </tr>
                </tbody>
            </table>    
        </div> 
    </div> 
</div>

