<h1>Trip</h1>

<hr/>

<trip-upload 
    [header]="tripUploadHeader" 
    [allVertices]="allVertices"
    (onCompleted)="uploadFile($event)">
</trip-upload>

<hr/>

<trip-arg-create 
    [trip]="trip"
    [header]="createTripArgHeader" 
    [allVertices]="allVertices"
    (onCompleted)="createTripArg($event)">
</trip-arg-create>

<hr/>

<arrival-list
    [allVertices]="allVertices"
    [trip]="trip" >
</arrival-list>

<div *ngIf="trip?.arrivals?.length != 0" class="form-group">
    <input type="button" value="Convert created trip" class="btn btn-default" (click)="convertArgToFile()" />
    <span> | </span>
    <input type="button" value="Convert edited trip" class="btn btn-default" (click)="convertFullTripToFile()" />
</div>

<hr/>

<div *ngIf="pathToDownloadArgTrip != null" class="form-group">
    <h3>Download created trip</h3>
    <div class="form-group">
        <b>
            <a [href]="downloadUrl+pathToDownloadArgTrip" target="_blank">
                Converted file
            </a>
        </b>
    </div>
</div>

<div *ngIf="pathToDownloadArrivalsTrip != null" class="form-group">
    <h3>Download edited trip</h3>
    <div class="form-group">
        <b>
            <a [href]="downloadUrl+pathToDownloadArrivalsTrip" target="_blank">
                Converted file
            </a>
        </b>
    </div>
</div>

<br><br><br> 