<h1>Trip</h1>

<hr/>

<trip-upload 
    [header]="tripUploadHeader" 
    [allVertices]="allVertices"
    (onCompleted)="uploadFile($event)">
</trip-upload>

<hr/>

<trip-arg-create 
    [tripArg]="tripArg"
    [header]="createTripArgHeader" 
    [allVertices]="allVertices"
    (onCompleted)="createTripArg($event)">
</trip-arg-create>

<hr/>

<div *ngIf="trip != null && trip.arrivals != null; else notFound">
    <br>
    <div><b>Found trip</b></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Vertex ID</td>
                <td>Arrival time</td>
                <!-- <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of trip?.arrivals">
                <td>{{p?.vertex?.id}}</td>
                <td>{{p?.vertexInterval?.begin}}</td>
                <!-- <td></td>
                <td></td>
                <td>
                    <button class="btn btn-sm btn-default" (click)="editArrival(p)">Edit</button>
                </td>
                <td>
                    <button class="btn btn-sm btn-danger" (click)="dropArrival(p)">Delete</button>
                </td>
                <td>
                    <button class="btn btn-sm btn-default" (click)="addArrivalBefore(p)">Add before</button>
                </td>
                <td>
                    <button class="btn btn-sm btn-default" (click)="addArrivalAfter(p)">Add after</button>
                </td> -->
            </tr>
        </tbody>
    </table>
    <input type="button" value="Convert" class="btn btn-default" (click)="convertToFile()" />
</div>

<ng-template #notFound>
    <br>
    <div>No trip created</div>
</ng-template>

<div *ngIf="pathToDownload != null">
    <br>
    <div>
        <b>
            <a [href]="downloadUrl+pathToDownload" target="_blank">
                Converted file
            </a>
        </b>
    </div>
</div>


<br><br><br> 